<a href="https://colab.research.google.com/github/codyub/ESAA_0905-Mon-_1/blob/main/getting_and_knowing_occupation_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex3 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [8]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [5]:
dat_p = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|')
dat_p.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [13]:
users = dat_p
users.index = users['user_id']
users

         user_id  age gender     occupation zip_code
user_id
1              1   24      M     technician    85711
2              2   53      F          other    94043
3              3   23      M         writer    32067
4              4   24      M     technician    43537
5              5   33      F          other    15213
...          ...  ...    ...            ...      ...
939          939   26      F        student    33319
940          940   32      M  administrator    02215
941          941   20      M        student    97229
942          942   48      F      librarian    78209
943          943   22      M        student    77841

[943 rows x 5 columns]

### Step 4. See the first 25 entries

In [14]:
dat_p.head(25)

         user_id  age gender     occupation zip_code
user_id
1              1   24      M     technician    85711
2              2   53      F          other    94043
3              3   23      M         writer    32067
4              4   24      M     technician    43537
5              5   33      F          other    15213
6              6   42      M      executive    98101
7              7   57      M  administrator    91344
8              8   36      M  administrator    05201
9              9   29      M        student    01002
10            10   53      M         lawyer    90703
11            11   39      F          other    30329
12            12   28      F          other    06405
13            13   47      M       educator    29206
14            14   45      M      scientist    55106
15            15   49      F       educator    97301
16            16   21      M  entertainment    10309
17            17   30      M     programmer    06355
18            18   35      F          other    37212
19            19   40      M      librarian    02138
20            20   42      F      homemaker    95660
21            21   26      M         writer    30068
22            22   25      M         writer    40206
23            23   30      F         artist    48197
24            24   21      F         artist    94533
25            25   39      M       engineer    55107

### Step 5. See the last 10 entries

In [15]:
users.tail(10)

         user_id  age gender     occupation zip_code
user_id
934          934   61      M       engineer    22902
935          935   42      M         doctor    66221
936          936   24      M          other    32789
937          937   48      M       educator    98072
938          938   38      F     technician    55038
939          939   26      F        student    33319
940          940   32      M  administrator    02215
941          941   20      M        student    97229
942          942   48      F      librarian    78209
943          943   22      M        student    77841

### Step 6. What is the number of observations in the dataset?

In [19]:
users.info() # 934개가 존재함.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     943 non-null    int64
 1   age         943 non-null    int64
 2   gender      943 non-null    object
 3   occupation  943 non-null    object
 4   zip_code    943 non-null    object
dtypes: int64(2), object(3)
memory usage: 44.2+ KB

### Step 7. What is the number of columns in the dataset?

In [20]:
users.info() # 5개가 존재함.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     943 non-null    int64
 1   age         943 non-null    int64
 2   gender      943 non-null    object
 3   occupation  943 non-null    object
 4   zip_code    943 non-null    object
dtypes: int64(2), object(3)
memory usage: 44.2+ KB

### Step 8. Print the name of all the columns.

In [22]:
users.columns()

Index(['user_id', 'age', 'gender', 'occupation', 'zip_code'], dtype='object')

### Step 9. How is the dataset indexed?

In [83]:
users.index # 다음과 같다.

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

### Step 10. What is the data type of each column?

In [21]:
users.info() # 다음과 같다.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     943 non-null    int64
 1   age         943 non-null    int64
 2   gender      943 non-null    object
 3   occupation  943 non-null    object
 4   zip_code    943 non-null    object
dtypes: int64(2), object(3)
memory usage: 44.2+ KB

### Step 11. Print only the occupation column

In [24]:
users['occupation']

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

### Step 12. How many different occupations are in this dataset?

In [68]:
len(users.groupby('occupation')['user_id'].count())

21

### Step 13. What is the most frequent occupation?

In [81]:
print(users['occupation'].value_counts(),'\n')  #이므로, 따라서, student가 가장 많다. 

print(users.value_counts(['occupation']).head(1))

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

occupation
student       196
dtype: int64

### Step 14. Summarize the DataFrame.

In [67]:
print(users.info())
print(users.shape)
print(users.describe(include='all'))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     943 non-null    int64
 1   age         943 non-null    int64
 2   gender      943 non-null    object
 3   occupation  943 non-null    object
 4   zip_code    943 non-null    object
dtypes: int64(2), object(3)
memory usage: 76.5+ KB
None
(943, 5)
           user_id         age gender occupation zip_code
count   943.000000  943.000000    943        943      943
unique         NaN         NaN      2         21      795
top            NaN         NaN      M    student    55414
freq           NaN         NaN    670        196        9
mean    472.000000   34.051962    NaN        NaN      NaN
std     272.364951   12.192740    NaN        NaN      NaN
min       1.000000    7.000000    NaN        NaN      NaN
25%     236.500000   25.000000    NaN        NaN      NaN
50%     472.000000   31.000000    NaN        NaN      NaN
75%     707.500000   43.000000    NaN        NaN      NaN
max     943.000000   73.000000    NaN        NaN      NaN

### Step 15. Summarize all the columns

In [42]:
# 다른 값들은 위에도 해뒀음.
print(users['gender'].value_counts())
print(users['occupation'].value_counts())
print(users['zip_code'].value_counts())

M    670
F    273
Name: gender, dtype: int64
student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64
55414    9
55105    6
55337    5
10003    5
20009    5
        ..
24060    1
55413    1
19149    1
02176    1
77841    1
Name: zip_code, Length: 795, dtype: int64

### Step 16. Summarize only the occupation column

In [65]:
print(users['occupation'].value_counts())

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

### Step 17. What is the mean age of users?

(round to a whole number(make it integer))

In [45]:
round(users['age'].mean(),0)

34.0

### Step 18. What is the age with least occurrence?

In [64]:
a = users['age'].value_counts()
users.groupby('age').count().sort_values(by = 'gender') # 아래와 같이 정렬됨. 7,66,73,10,11

     user_id  gender  occupation  zip_code
age
7          1       1           1         1
66         1       1           1         1
73         1       1           1         1
10         1       1           1         1
11         1       1           1         1
..       ...     ...         ...       ...
27        35      35          35        35
28        36      36          36        36
22        37      37          37        37
25        38      38          38        38
30        39      39          39        39

[61 rows x 4 columns]