<a href="https://colab.research.google.com/github/codyub/ESAA_0905-Mon-_1/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%A8%B8%EC%8B%A0_%EB%9F%AC%EB%8B%9D_%EC%99%84%EB%B2%BD_%EA%B0%80%EC%9D%B4%EB%93%9C(39_86p).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 04 데이터 핸들링 – 판다스

판다스 개발자: 웨스 매키니(월스트리트 금융회사의 분석전문가)

개발 계기: 회사에서 사용하는 분석용 핸들링 툴이 마음에 안들어서

## 판다스
-	파이썬 데이터 처리를 위해 존재하는 가장 인기있는 라이브러리
-	Csv, tab과 같은 다양한 유형의 분리 문자로 칼럼을 분리한 파일을 쉽게 데이터 프레임으로 로딩해줌.
-	대부분의 데이터 세트는 2차원으로 행렬로 구성됨. (인간이 이해하기 가장 쉬운 데이터 구조, 효과적으로 데이터를 담을 수 있는 구조)  2차원의 데이터를 효율적으로 가공/처리 할 수 있는 다양한 기능 제공
-	넘파이는 저수준 API로 데이터 핸들링이 편하지는 않음. 판다스는 넘파이를 기반으로 작성됨
-	파이썬의 리스트, 컬렉션, 넘파이 등의 내부 데이터만이 아닌, CSV 등의 파일을 쉽게 데이터 프레임으로 변경해 데이터의 가공/분석을 편리하게 수행할 수 있게 만들어준다.

## DataFrame
-	판다스의 핵심 개체로, 여러 개의 행과 열로 이뤄진 2차원 데이터를 담음.
-	Index: 개별 데이터를 고유하게 식별하는 key 값이다. 
-	Series: 칼럼이 하나인 데이터 구조(데이터 프레임은 칼럼이 여러 개 = 데이터 프레임은 여러 개의 series로 이뤄짐)

# 판다스 시작 – 파일을 Data Frame으로 로딩, 기본 API

-	다양한 포맥으로 된 파일을 Data Frame으로 로딩할 수 있는 편리한 API를 제공한다: read_csv(‘파일명’,sep=’\t’(필드가 탭으로 구분돼 있을때, 기본값은 commma)); comma 구분, read_table(); 탭 구분, read_fwf(); 고정 길이 기반의 칼럼 포맷

In [44]:
from google.colab import files
file_uploaded = files.upload()

Saving titanic_train.csv to titanic_train.csv

In [45]:
import io
import pandas as pd

In [52]:
titanic_df = pd.read_csv(io.BytesIO(file_uploaded['titanic_train.csv']))
titanic_df.head(3) # 데이터 프레임 상위 3개의 행만 반환. 디폴트 값은 5

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [53]:
print('titanic 변수 type: ', type(titanic_df))

titanic 변수 type:  <class 'pandas.core.frame.DataFrame'>

## titianic_df
-	pd.read_csv()는 호출 시 파일명 인자로 들어온 파일을 로딩해 Data Frame 객체로 반환. Data Frame 객체는 데이터 파일의 첫 줄에 있던 칼럼 문자열이 Data Frame의 칼럼으로 할당됨
-	별다른 파라미터 지정이 없으면 파일의 맨 처음 로우를 칼럼 명으로 변환함.
-	데이터 값은 row 순으로 0부터 넘버링 됨 = pandas의 index 객체 값: 고유 레코드 식별 역할

In [54]:
print('Data Frame 크기: ', titanic_df.shape) # 데이터 프레임 객체의 행과 열의 크기를 알려줌. 튜플 형태로 반환
# 891개의 행과, 12개의 열로 이뤄짐을 알 수 있다.

Data Frame 크기:  (891, 12)

##칼럼의 타입, null 데이터 개수, 데이터 분포도 등의 메타 데이터 등 조회: info(), describe()

#titanic_df.info()
-	info(): 총 데이터 건수, 데이터 타입, null 건수 등을 알 수 있음

# titanic_df.describe()
-	칼럼별 숫자형 데이터 값의 n-percentile 분포도, 평균값, 최대값, 최솟값을 알려줌. Object 타입의 칼럼은 출력에서 제외시킴. 개략적인 수준의 분포도를 확인할 수 있어 유용하다. 
-	데이터의 분포도를 아는 것은 머신러닝 알고리즘 성능 향상에 중요한 요소: 예) 회귀에서 결정 값이 정규 분포를 이루지 않고 특정 값으로 왜곡돼 있는 경우, 또는 데이터값에 이상치가 많을 경우 예측 성능이 저하됨. 
-	Count는 null이 아닌 데이터 건 수를 의미한다. 
value_counts()
-	칼럼 값의 유형과 건수를 확인할 수 있음. 
-	칼럼 값 별 데이터 건수를 반환하므로 고유 칼럼 값을 식별자로 사용할 수 있음. 인덱스는 후에 변경할 수 있고, 문자열도 가능하지만 고유성이 보장되어야 한다. 
-	범주형 칼럼이나 ID와 같은 분석을 위한 의미있는 속성이 아닌 칼럼도을 숫자로 표시할 수도 있음

In [55]:
value_counts = titanic_df['Pclass'].value_counts()
print(value_counts)

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [56]:
titanic_pclass = titanic_df['Pclass']
print(type(titanic_pclass))
#	반환 값은 칼럼에 해당하는 series(index와 단 하나의 칼럼으로 구성된 데이터세트) 객체.

<class 'pandas.core.series.Series'>

## Data Frame과 리스트, 딕셔너리, 넘파이 ndarray 상호 변환
-	기본적으로 데이터 프레임은 파이썬의 리스트, 딕셔너리, 넘파이 ndarray 등 다양한 데이터로부터 생성될 수 있음.
-	반대로 파이썬 리스트, 딕셔너리, 넘파이 ndarray 등으로 변환될 수 있다. 
-	사이킷런의 많은 API는 Data Frame을 인자로 입력받을 수 있지만, 기본적으로 ndarray를 입력 인자로 사용하는 경우가 대부분

## 넘파이 ndarray, 리스트, 딕셔너리를 Data Frame으로 변환하기
-	Data Frame은 위와 다르게 칼럼명을 갖고 있다. 따라서, 리스트와 넘파이 ndarray 보다 상대적으로 데이터 핸들링이 편하다. 
-	일반적으로 Data Frame으로 변환 시에는 칼럼명을 지정해 준다.(지정하지 않으면 자동 할당) 기본적으로 2차원이므로, 2차원 이하의 데이터들만 Data Frame으로 변환될 수 있다. 
-	먼저 1차원 형태의 리스트와 넘파이 ndarray부터 변환 해 볼 것. 1차원 데이터 이므로 칼럼은 1개만 필요함.

In [29]:
import numpy as np

In [34]:
col_name1 = ['col1']
list1 = [1,2,3]
array1 = np.array(list1) # 리스트를 이용해 행렬 생성
print('array1 shape:', array1.shape) 
df_list1 = pd.DataFrame(list1, columns=col_name1) # 리스트를 이용해 데이터 프레임 생성
print('1차원 리스트로 만든 DataFrame:\n', df_list1)

df_array1 = pd.DataFrame(array1, columns=col_name1) # 넘파이 ndarray를 이용해 데이터 프레임 생성
print('1차원 ndarray로 만든 DataFrame:\n', df_list1)

array1 shape: (3,)
1차원 리스트로 만든 DataFrame:
    col1
0     1
1     2
2     3
1차원 ndarray로 만든 DataFrame:
    col1
0     1
1     2
2     3

# 2차원 형태의 데이터를 기반으로 DataFrame 생성하기
-	2행 3열 형태의 리스트와 ndarray를 기반으로 DataFrame을 생성하므로 칼럼명은 3개가 필요

In [58]:
col_name2 = ['col1','col2','col3']  # 3개의 칼럼명
list2 = [[1,2,3], [11,12,13]] # 2행 3열의 리스트 생성
array2 = np.array(list2) # list로 ndarray 생성
print('array2 shape: ', array2.shape)
df_list2 = pd.DataFrame(list2, columns=col_name2) # list를 data frame으로 변환
print('2차원 리스트로 만든 data frame: \n', df_list2)
df_array2 = pd.DataFrame(array2, columns=col_name2) # ndarray를 data frame으로 변환
print('2차원 ndarray로 만든 data frame: \n', df_array2)

array2 shape:  (2, 3)
2차원 리스트로 만든 data frame:
    col1  col2  col3
0     1     2     3
1    11    12    13
2차원 ndarray로 만든 data frame:
    col1  col2  col3
0     1     2     3
1    11    12    13

# 딕셔너리를 DataFrame으로 변환하기
-	일반적으로 딕셔너리의 키는 칼럼명으로, 값은 키에 해당하는 칼럼 데이터로 변환됨.
-	키의 경우는 문자열, 값의 경우는 리스트나 행렬 형태로 딕셔너리를 구성함.

In [36]:
dict = {'col1':[1,11], 'col2':[2,22], 'col3':[3,33]}
df_dict = pd.DataFrame(dict)
print('딕셔너리로 만든 DataFrame: \n', df_dict)

딕셔너리로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    22    33

## 데이터프레임을 넘파이, 리스트, 딕셔너리로 변환하기 (51p)
-	많은 머신러닝 패키지들이 기본 데이터 형으로 넘파이 ndarray를 사용하므로 데이터 핸들링은 DataFrame을 이용하더라도 머신러닝 패키지의 입력 인자 등에 적용하기 위해 다시 넘파이 ndarray로 변환하는 경우가 자주 발생함.
-	DataFrame을 넘파이로 변환하는 것: DataFrame.values

In [38]:
array3 = df_dict.values
print('df_dict.values 타입: ', type(array3), 'df_dict.values shape: ', array3.shape)
print(array3)

df_dict.values 타입:  <class 'numpy.ndarray'> df_dict.values shape:  (2, 3)
[[ 1  2  3]
 [11 22 33]]

-	DataFrame을 리스트와 딕셔너리로 변환
-	리스트로 변환: value로 얻은 넘파이에 tolist()
-	딕셔너리로 변환: 데이터 프레임 객체의 to_dict(). 이때, to_dict(‘list’)를 입력하면 딕셔너리가 리스트형으로 반환

In [39]:
# 리스트로 변화
list3 = df_dict.values.tolist()
print('df_dict.values.tolist() 타입: ', type(list3))
print(list3)
# 딕셔너리로 변환
dict3 = df_dict.to_dict('list') # list 옵션을 넣지 않고 하면 어떻게 되는지도 해보기
print('df_dict.to_dict()타입:', type(dict3))
print(dict3)

df_dict.values.tolist() 타입:  <class 'list'>
[[1, 2, 3], [11, 22, 33]]
df_dict.to_dict()타입: <class 'dict'>
{'col1': [1, 11], 'col2': [2, 22], 'col3': [3, 33]}

# DataFrame의 칼럼 데이터 세트 생성과 수정

In [60]:
titanic_df['Age_0'] = 0 # 새로운 칼럼을 추가. 모든 데이터 값은 0으로 할당됨
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_0
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0

In [62]:
# 다른 칼럼 데이터 세트도 추가
titanic_df['Age_10'] = titanic_df['Age'] *10
titanic_df['Family_Num'] = titanic_df['SibSp'] + titanic_df['Parch'] + 1
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_0,Age_10,Family_Num
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,220.0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,380.0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,260.0,1

In [63]:
# 위에서 생성한 칼럼의 데이터를 업데이트 해보기
titanic_df['Age_10'] = titanic_df['Age_10'] +100
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_0,Age_10,Family_Num
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,320.0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,480.0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,360.0,1

## DaraFram 데이터 삭제: drop() 
DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False,errors=’raise’)
-	가장 중요: labels=None, axis=0, inplace=False
-	axis=0 : row 방향 축, axis=1 : column 방향 축 (판다스는 2차원이므로 이렇게만 구성됨)
-	labels=’원하는 칼럼명’, axis=1: 칼럼 drop  주로 많이 사용

In [64]:
titanic_drop_df = titanic_df.drop('Age_0', axis=1) # 칼럼 삭제
titanic_drop_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_10,Family_Num
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,320.0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,480.0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,360.0,1

-	titanic_df.head(3) # 여전히 Age_0 칼럼이 존재함. --> why? Inplace=False(디폴트) --> 반환된 데이터 프레임 객체 변수만 칼럼이 삭제됨. True로 옵션을 설정하면 사라짐.

In [67]:
drop_result = titanic_df.drop(['Age_0','Age_10','Family_Num'], axis=1, inplace=True) # drop_result 자리에 titanic_df를 넣지 않도록 주의할 것  넣으면 객체 변수를 아예 None으로 만들어버림
print('inplace=True로 drop 후 반환된 값:', drop_result)
titanic_df.head(3) # 위 열들이 모두 삭제됨

inplace=True로 drop 후 반환된 값: None

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

-	axis=0으로 설정해 index 0,1,2 행을 삭제

In [69]:
pd.set_option('display.width',1000)
pd.set_option('display.max_colwidth', 15)
print('#### before axis 0 drop ###')
print(titanic_df.head(3))
titanic_df.drop([0,1,2],axis=0,inplace=True) # index 0,1,2에 위치한 row를 삭제 

print('#### after axis 0 drop ###')
print(titanic_df.head(3))

#### before axis 0 drop ###
   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch          Ticket     Fare Cabin Embarked
0            1         0       3  Braund, Mr....    male  22.0      1      0       A/5 21171   7.2500   NaN        S
1            2         1       1  Cumings, Mr...  female  38.0      1      0        PC 17599  71.2833   C85        C
2            3         1       3  Heikkinen, ...  female  26.0      0      0  STON/O2. 31...   7.9250   NaN        S
#### after axis 0 drop ###
   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch  Ticket     Fare Cabin Embarked
3            4         1       1  Futrelle, M...  female  35.0      1      0  113803  53.1000  C123        S
4            5         0       3  Allen, Mr. ...    male  35.0      0      0  373450   8.0500   NaN        S
5            6         0       3  Moran, Mr. ...    male   NaN      0      0  330877   8.4583   NaN        Q

## Index 객체
-	판다스의 index 객체는 Data Frame, Series의 레코드를 고유하게 식별하는 객체
-	Index 객체만 추출하는 방법: DataFrame.index , Series.index
-	반환된 index 객체의 실제 값은 넘파이 1차원 ndarray로 볼 수 있음: value()

In [70]:
# 원본파일 다시 로딩
titanic_df = pd.read_csv('titanic_train.csv')
# index 객체 추출
indexes = titanic_df.index
print(indexes)
# Index 객체를 실제 값 array로 변환
print('Index 객체 array 값: \n', indexes.values)

RangeIndex(start=0, stop=891, step=1)
Index 객체 array 값:
 [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539
 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557
 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575
 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593
 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611
 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629
 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647
 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665
 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683
 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701
 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719
 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737
 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755
 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773
 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791
 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809
 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827
 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845
 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863
 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881
 882 883 884 885 886 887 888 889 890]

-	Index 객체는 식별성 데이터를 1차원 array로 갖고 있음. 
-	Ndarray와 유사하게 단일 값 반환 및 슬라이싱도 가능

In [71]:
print(type(indexes.values))
print(indexes.values.shape)
print(indexes[:5].values)
print(indexes.values[:5])
print(indexes[6])

<class 'numpy.ndarray'>
(891,)
[0 1 2 3 4]
[0 1 2 3 4]
6

-	한 번 만들어진 dataframe 및 series의 index 객체는 함부로 변경 불가능. 예) indexes = 5와 같은 것은 불가능
-	Series 객체는 index 객체를 포함하지만, series 객체에 연산 함수를 적용할 때 index는 연산에서 제외되고, 식별을 위하여 사용될 뿐이다.

In [73]:
series_fair = titanic_df['Fare']
print('Fair Series max 값:' , series_fair.max())
print('Fair Series sum 값: ', series_fair.sum())
print('sum() Fair Series : ' , sum(series_fair))
print('Fair Series +3: \n', (series_fair+3).head(3))

Fair Series max 값: 512.3292
Fair Series sum 값:  28693.9493
sum() Fair Series :  28693.949299999967
Fair Series +3:
 0    10.2500
1    74.2833
2    10.9250
Name: Fare, dtype: float64

-	DataFrame 및 Series에 resest_index()메서드를 수행하면 새롭게 인덱스를 연속 숫자 형으로 할당하며 기존 인덱스는 index라는 새로운 칼럼 명으로 추가함

In [74]:
titanic_reset_df = titanic_df.reset_index(inplace=False)
titanic_reset_df.head(3)

   index  PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch          Ticket     Fare Cabin Embarked
0      0            1         0       3  Braund, Mr....    male  22.0      1      0       A/5 21171   7.2500   NaN        S
1      1            2         1       1  Cumings, Mr...  female  38.0      1      0        PC 17599  71.2833   C85        C
2      2            3         1       3  Heikkinen, ...  female  26.0      0      0  STON/O2. 31...   7.9250   NaN        S

-	reset_index()는 인덱스가 연속된 int 숫자형 데이터가 아닐 경우에 이를 다시 연속 int 숫자형 데이터로 만들어줌
-	예) ‘Pclass’의 value_counts()를 수행하면 고유값이 식별자 인덱스 역할을 했지만, reset_index()를 이용하면 인덱스를 다시 만들 수 있음
-	Series에 reset_index()를 적용하면 Series가 아닌 DataFrame이 반환됨.(주의)

In [77]:
print('### before reset_index ###')
value_counts = titanic_df['Pclass'].value_counts()
print(value_counts)
print('value.counts 객체 변수 타입:', type(value_counts))
new_value_counts = value_counts.reset_index(inplace=False) # 새롭게 연속 숫자형 인덱스가 만들어지고, 기존 인덱스는 index 칼럼명으로 추가되어 DataFrame으로 변환됨, drop=True로 설정하면 기존 인덱스는 새로운 칼럼으로 추가되지 않고, 삭제되어 series로 유지됨. 
print('### After reset_index ###')
print(new_value_counts)
print('new_value_counts 객체 변수 타입:', type(new_value_counts))

### before reset_index ###
3    491
1    216
2    184
Name: Pclass, dtype: int64
value.counts 객체 변수 타입: <class 'pandas.core.series.Series'>
### After reset_index ###
   index  Pclass
0      3     491
1      1     216
2      2     184
new_value_counts 객체 변수 타입: <class 'pandas.core.frame.DataFrame'>

## 데이터 셀렉션 및 필터링
-	넘파이 []: []연산자 내 단일 값 추출, 슬라이싱, 팬시 인덱싱, 불린 인덱싱 통해 데이터 추출
-	판다스 : ix[], ilox[],lox[] 연산자를 통해 동일한 작업 수행

## DataFrame의 []연산자
-	넘파이에서의 [] 연산자는 행의 위치, 열의 위치, 슬라이싱 범위 등을 지정해야 데이터를 가져올 수 있음
-	데이터 프레임에서의 [] 연산자는 칼럼명 문자, 인덱스로 변환 가능한 표현식 (현재는 칼럼만 지정할 수 있는 연산자라고 이해하면 됨)

In [78]:
print('단일 칼럼 데이터 추출: \n', titanic_df['Pclass'].head(3))
print('\n여러 칼럼의 데이터 추출:\n', titanic_df[['Survived','Pclass']].head(3))
print('[]안에 숫자 index는 KeyError 오류 발생: \n', titanic_df[0])

단일 칼럼 데이터 추출:
 0    3
1    1
2    3
Name: Pclass, dtype: int64

여러 칼럼의 데이터 추출:
    Survived  Pclass
0         0       3
1         1       1
2         1       3

KeyError: ignored

-	하지만, 판다스의 인덱스 형태로 변환 가능한 표현식은 [] 내에 입력 가능: 
-	예1) 처음 2개의 데이터를 추출하기 위해 titanic_df[0:2]와 같은 슬라이싱 이용 (하지만 사용 안 하는 것을 권장함)
-	예2) 불린 인덱싱 표현: titanic_df[titanic_df[‘Pclass’]==3].head(3)

## DataFrame ix[] 연산자
-	ix[] : 넘파이 ndarray의 연산자와 유사한 기능 제공: 단일지정, 슬라이싱, 불린 인덱싱, 팬시 인덱싱 모두 가능
-	사용법 예) ix[0, ‘Pclass’] 행(데이터 프레임 내의 인덱스 값), 열(칼럼명, 위치 인덱스 모두 가능) 순서로 적음

In [81]:
data = {'Name':['C','E','J','S'], 'Year':[2011,2016,2015,2015], 'Gender':['M', 'F', 'M','M']}
data_df = pd.DataFrame(data, index = ['one','two','three','four'])

In [82]:
# 예시
data_df.ix[0:2, [0,1]] # 0:2 슬라이싱 범위인 0,1 행렬과 두 번째 칼럼 범위에 해당하는 데이터 프레임
data_df.ix[:] # 데이터 프레임 전체 반환
data_df.ix[data_df.Year >= 2014] # 조건에 맞는 행 인덱스를 가지는 데이터 프레임 반환

AttributeError: ignored

-	하지만 위 방식은 혼란을 초래하여 사라지고 대체하는 loc[], iloc[] 가 새롭게 만들어짐

## 명칭 기반 인덱싱과 위치 기반 인덱싱의 구분
-	명칭 기반: 칼럼의 명칭을 기반으로 위치를 지정하는 방식
-	위치 기반: 0을 출발점으로 하는 인덱싱을 기반으로 데이터 위치를 지정하는 방식
-	데이터 프레임은 모두 가능하므로 위 사항에 혼돈을 줌

In [83]:
# data_df를 reset_index()로 새로운 숫자형 인덱스를 생성
data_df_reset = data_df.reset_index()	
data_df_reset = data_df.reset.rename(columns={'index':'old_index'})

AttributeError: ignored

In [84]:
# 인덱스 값에 1을 더해서 1부터 시작하는 새로운 인덱스값 생성
data_df_reset.index = data_df_reset.index+1
data_df_reset #오류가 반환됨
# 인덱스가 integer형이 경우, ix[0,1]은 행 위치 값으로 위치 기반 인덱스 값을 사용하는 것이 아니라 데이터 프레임의 인덱스 값을 사용하는데, 인덱스 값이 0인 key는 찾을 수 없기 때문이다. 따라서, ix[1,1]을 적용해야 첫 번째 행의 2번 째 열 위치에 있는 데이터 값을 반환한다. 
data_df_reset.ix[1,1]

AttributeError: ignored

-	위에 따라, 데이터 프레임의 인덱스 값은 명칭 기반 인덱싱이라고 간주해야 한다. 
-	하지만 헷갈리므로, 명칭기반 인덱싱: loc[]와 위치기반 인덱싱 iloc[]연산자를 도입함

## DataFrame iloc[] 연산자
-	위치 기반 인덱싱만 허용: 행과 열 값으로 integer, integer형의 슬라이싱, 팬시 리스트 값을 입력해야 한다. 
-	명확한 위치 기반이 되어야 하므로, 불린 인덱싱은 제공하지 않는다.

In [85]:
# 예) 첫 번째 행, 첫 번째 열의 데이터 추출
data_df.iloc[0,0] # 괄호 안에 문자열을 넣으면 오류가 발생한다.

'C'

In [86]:
# 앞의 예제에서 reset_index()를 통해 1부터 시작하는 새로운 정수형 인덱스 값으로 변경한 것에 적용
data_df_reset.iloc[0,1] # 첫 번째 행의 두 번째 열의 값이 정확하게 나옴.

'C'

## DataFrame lloc[] 연산자
-	명칭 기반 데이터 추출: 행 --> 데이터 프레임 인덱스 값, 열 --> 칼럼명

In [87]:
data_df.loc['one','Name']
data_df.loc[1,'Name'] # 반드시 문자열만 들어가야 하는 것은 아님.

KeyError: ignored

In [88]:
# 하지만 다음 코드는 오류를 발생시킴 : 인덱스 값이 0인 행이 없기 때문.
data_df_reset.loc[0, ‘Name’]

SyntaxError: ignored

-	슬라이싱 기호(:) 적용에 주의: 일반적으로 슬라이싱 종료값-1 까지가 슬라이싱 범위지만, loc는 슬라이싱 종료값을 포함함. (명칭 기반 인덱싱의 특징), ix[]도 같은 성질을 갖고 있음

In [90]:
print('명칭 기반 ix slicing \n', data_df.ix['one': 'two','Name'], '\n')
print('위치 기반 iloc slicing \n', data_df.iloc[0:1,0], '\n')
print('명칭 기반 loc slicing \n', data_df.ix['one': 'two','Name'])
# 위치기반인 iloc만 2개가 아닌 한 개의 행을 반환

AttributeError: ignored

## 불린 인덱싱
-	Ix[], loc[]에 공통으로 지원됨. Iloc[]는 정수형 값이 아닌 불린 값에 대해서는 지원하지 않기 때문에 불린 인덱싱이 지원되지 않음

In [93]:
# 데이터세트를 다시 데이터 프레임으로 로드하고, 승객 중 나이가 60세 이상인 데이터를 추출
titanic_df = pd.read_csv(io.BytesIO(file_uploaded['titanic_train.csv']))
titanic_boolean = titanic_df[titanic_df['Age']>60]
print(type(titanic_boolean)) # 데이터 프레임으로 나옴
titanic_boolean

<class 'pandas.core.frame.DataFrame'>

     PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch       Ticket      Fare        Cabin Embarked
33            34         0       2  Wheadon, Mr...    male  66.0      0      0   C.A. 24579   10.5000          NaN        S
54            55         0       1  Ostby, Mr. ...    male  65.0      0      1       113509   61.9792          B30        C
96            97         0       1  Goldschmidt...    male  71.0      0      0     PC 17754   34.6542           A5        C
116          117         0       3  Connors, Mr...    male  70.5      0      0       370369    7.7500          NaN        Q
170          171         0       1  Van der hoe...    male  61.0      0      0       111240   33.5000          B19        S
252          253         0       1  Stead, Mr. ...    male  62.0      0      0       113514   26.5500          C87        S
275          276         1       1  Andrews, Mi...  female  63.0      1      0        13502   77.9583           D7        S
280          281         0       3  Duane, Mr. ...    male  65.0      0      0       336439    7.7500          NaN        Q
326          327         0       3  Nysveen, Mr...    male  61.0      0      0       345364    6.2375          NaN        S
438          439         0       1  Fortune, Mr...    male  64.0      1      4        19950  263.0000  C23 C25 C27        S
456          457         0       1  Millet, Mr....    male  65.0      0      0        13509   26.5500          E38        S
483          484         1       3  Turkula, Mr...  female  63.0      0      0         4134    9.5875          NaN        S
493          494         0       1  Artagaveyti...    male  71.0      0      0     PC 17609   49.5042          NaN        C
545          546         0       1  Nicholson, ...    male  64.0      0      0          693   26.0000          NaN        S
555          556         0       1  Wright, Mr....    male  62.0      0      0       113807   26.5500          NaN        S
570          571         1       2  Harris, Mr....    male  62.0      0      0  S.W./PP 752   10.5000          NaN        S
625          626         0       1  Sutton, Mr....    male  61.0      0      0        36963   32.3208          D50        S
630          631         1       1  Barkworth, ...    male  80.0      0      0        27042   30.0000          A23        S
672          673         0       2  Mitchell, M...    male  70.0      0      0   C.A. 24580   10.5000          NaN        S
745          746         0       1  Crosby, Cap...    male  70.0      1      1    WE/P 5735   71.0000          B22        S
829          830         1       1  Stone, Mrs....  female  62.0      0      0       113572   80.0000          B28      NaN
851          852         0       3  Svensson, M...    male  74.0      0      0       347060    7.7750          NaN        S

In [ ]:
# 60세 이상인 승객의 나이와 이름만 추출하기
titanic_df[titanic_df['Age']>60][['Name','Age']].head(3)
# loc를 이용하는 방법
titanic_df.loc[titanic_df['Age']>60][['Name','Age']].head(3)

-	여러 개의 복합 조건 적용: and = &, or = |, not = ~

In [94]:
# 나이가 60세 이상, 선실 등급이 1등급, 성별이 여성
titanic_df[(titanic_df['Age']>60)&(titanic_df['Pclass']==1)&(titanic_df['Sex']=='female')]

     PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch  Ticket     Fare Cabin Embarked
275          276         1       1  Andrews, Mi...  female  63.0      1      0   13502  77.9583    D7        S
829          830         1       1  Stone, Mrs....  female  62.0      0      0  113572  80.0000   B28      NaN

In [95]:
# 개별 조건을 변수에 할당하고, 변수를 결합해 불린 인덱싱을 수행하는 방법
cond1 = titanic_df['Age']>60
cond2 = titanic_df['Pclass']==1
cond3 = titanic_df['Sex']=='female'
titanic_df[cond1&cond2&cond3]

     PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch  Ticket     Fare Cabin Embarked
275          276         1       1  Andrews, Mi...  female  63.0      1      0   13502  77.9583    D7        S
829          830         1       1  Stone, Mrs....  female  62.0      0      0  113572  80.0000   B28      NaN

## 정렬: aggregation, GroupBy 적용

## dataFrame, Series의 정렬 – sort_values()
-	DataFrame과 Series의 정렬: sort_values() 메서드
-	sort_values() : by(특정 칼럼기준 정렬 수행), ascending(True일 경우 오름차순 정렬=기본값), inplace(False인 경우 기존의 데이터 프레임을 유지하고 정렬된 데이터 프레임을 결과로 반환함. True의 경우 호출한 데이터 프레임의 정렬 결과를 그대로 적용함. )

In [96]:
titanic_sorted = titanic_df.sort_values(by=['Name'])
titanic_sorted.head(3)

     PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch     Ticket   Fare Cabin Embarked
845          846         0       3  Abbing, Mr....    male  42.0      0      0  C.A. 5547   7.55   NaN        S
746          747         0       3  Abbott, Mr....    male  16.0      1      1  C.A. 2673  20.25   NaN        S
279          280         1       3  Abbott, Mrs...  female  35.0      1      1  C.A. 2673  20.25   NaN        S

-	여러 개의 칼럼으로 정렬 : by에 리스트 형식으로 정렬하려는 칼럼 입력

In [97]:
# pclass와 name을 내림차순으로 정렬한 결과 반환
titanic_sorted = titanic_df.sort_values(by=['Pclass','Name'], ascending=False)
titanic_sorted.head(3)

     PassengerId  Survived  Pclass            Name   Sex   Age  SibSp  Parch    Ticket  Fare Cabin Embarked
868          869         0       3  van Melkebe...  male   NaN      0      0    345777   9.5   NaN        S
153          154         0       3  van Billiar...  male  40.5      0      2  A/5. 851  14.5   NaN        S
282          283         0       3  de Pelsmaek...  male  16.0      0      0    345778   9.5   NaN        S

## aggregation 함수 적용
-	데이터 프레임에 aggregation을 적용할 경우, 모든 칼럼에 해당 aggregation을 적용함.

In [98]:
titanic_df.count() # 모든 칼럼에 count()결과를 반환함.

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

-	특정 칼럼에 aggregation 함수를 적용하기 위해서는 데이터 프레임에 대상 칼럼들만 추출해 aggregation을 적용하면 됨

In [100]:
titanic_df[['Age','Fare']].mean()

Age     29.699118
Fare    32.204208
dtype: float64

## groupby() 적용
-	입력 파라미터 by에 칼럼을 입력하면 대상 칼럼으로 groupby됨

In [101]:
# pclass 칼럼 기준으로 groupby된 데이터프레임 객체를 반환
titanic_groupby = titanic_df.groupby(by='Pclass')
print(type(titanic_groupby))

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [102]:
# 데이터 프레임에 groupby()를 호출해 반환된 결과에 aggregation 함수를 호출하면 groupby() 대상 칼럼을 제외한 모든 칼럼에 해당 aggregation함수를 적용함
titanic_groupby=titanic_df.groupby('Pclass').count()
titanic_groupby

        PassengerId  Survived  Name  Sex  Age  SibSp  Parch  Ticket  Fare  Cabin  Embarked
Pclass
1               216       216   216  216  186    216    216     216   216    176       214
2               184       184   184  184  173    184    184     184   184     16       184
3               491       491   491  491  355    491    491     491   491     12       491

In [103]:
# titanic_df.groupby(‘Pclass’)로 반환된 DataFrameGroupBy 객체에 [[‘PassengerId,’Survived’]]로 필터링해 두 칼럼에만 count()를 수행한다. 
titanic_groupby=titanic_df.groupby('Pclass')[['PassengerId','Survived']].count()
titanic_groupby

        PassengerId  Survived
Pclass
1               216       216
2               184       184
3               491       491

In [104]:
# 여러 개의 칼럼이 서로다른 aggregation 함수를 groupby에서 호출하려면 DataFrameGroupBy 객체에서는 좀 복잡한 처리가 필요함. 
agg_format = {'Age':'max','SibSp':'sum','Fare':'mean'}
titanic_df.groupby('Pclass').agg(agg_format)

         Age  SibSp       Fare
Pclass
1       80.0     90  84.154687
2       70.0     74  20.662183
3       74.0    302  13.675550

## 결손 데이터 처리하기
-	판다스는 결손데이터(Missing Data)를 처리하는 편리한 API를 제공함
-	결손 데이터: 칼럼에 값이 없는 경우 = NULL, 넘파이의 경우 NaN으로 표시함. 머신러닝 알고리즘은 결손 데이터를 처리하지 않으므로 이 값을 다른 값으로 대체해야 한다. 
-	NaN: 머신러닝 알고리즘에 적용 불가능, 함수 연산 시 제외됨, isna()로 확인가능, NaN 값을 다른 값으로 대체하기 = fillna()

# isna()로 결손 데이터 여부 확인
-	데이터가 NaN인지 아닌지 알려줌.

In [105]:
# 결손 데이터 구하기 
titanic_df.isna().head(3)
# 결손 데이터의 수 구하기
titanic_df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## fillna()로 결손 데이터 대체하기

In [106]:
# titanic 데이터 세트의 ‘Cabin’ 칼럼의 NaN 값을 ‘C000’으로 대체
titanic_df['Cabin'] = titanic_df['Cabin'].fillna('C000')
titanic_df.head(3)

   PassengerId  Survived  Pclass            Name     Sex   Age  SibSp  Parch          Ticket     Fare Cabin Embarked
0            1         0       3  Braund, Mr....    male  22.0      1      0       A/5 21171   7.2500  C000        S
1            2         1       1  Cumings, Mr...  female  38.0      1      0        PC 17599  71.2833   C85        C
2            3         1       3  Heikkinen, ...  female  26.0      0      0  STON/O2. 31...   7.9250  C000        S

-	주의: fillna()를 이용해 반환 값을 다시 받거나, inplace=True 옵션을 추가해야 실제 데이터 세트 값이 변경된다.

In [107]:
# age 칼럼의 NaN 값을 평균 나이로, Embarked 칼럼의 NaN 값을 ‘S’로 대체해 모든 결손 데이터를 처리함
titanic_df['Age'] = titanic_df['Age'].fillna(titanic_df['Age'].mean())
titanic_df['Embarked'] = titanic_df['Embarked'].fillna('S')
titanic_df.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

## apply lambda 식으로 데이터 가공
-	Apply 함수에 lamda 식을 결합해 데이터 프레임이나 series의 레코드별로 데이터를 가공하는 기능 제공.

In [108]:
# lambda 식 이용 시 여러 개의 값을 입력 인자로 사용해야 하는 경우, map()함수를 결합해서 사용함
a = [1,2,3]
squares = map(lambda x : x**2, a)

-	판다스의 lambda 식은 파이썬에서의 lambda 식 적용과 같음.

In [109]:
# Name 칼럼의 문자열 개수를 별도의 칼럼인 ‘Name_len’에 생성
titanic_df['Name_len'] = titanic_df['Name'].apply(lambda x : len(x))
titanic_df[['Name','Name_len']].head(3)

             Name  Name_len
0  Braund, Mr....        23
1  Cumings, Mr...        51
2  Heikkinen, ...        22

In [110]:
# 나이가 15세 미만이면 child, 그렇지 않으면 adult로 구분하는 새로운 칼럼 ‘child_adult’를 apply lambda를 이용해 만든다. 
titanic_df['Child_Adult'] = titanic_df['Age'].apply(lambda x : 'Child' if x <= 15 else 'Adult')
titanic_df[['Age', 'Child_Adult']].head(8)

         Age Child_Adult
0  22.000000       Adult
1  38.000000       Adult
2  26.000000       Adult
3  35.000000       Adult
4  35.000000       Adult
5  29.699118       Adult
6  54.000000       Adult
7   2.000000       Child

-	주의: 람다식은 if 절의 경우, if 식보다 반환 값을 먼저 기술해야 하며, else if는 지원하지 않는다.

In [111]:
# 위에서, 61세 이상은 Elderly로 븐류하는 ‘Age_Cat’ 칼럼을 만든다. 
titanic_df['Age_cat'] = titanic_df['Age'].apply(lambda x : 'Child' if x <= 15 else ('Adult' if x<= 60 else 'Elderly'))
titanic_df['Age_cat'].value_counts()

Adult      786
Child       83
Elderly     22
Name: Age_cat, dtype: int64

-	하지만 else if 가 많이 나와야 하는 경우는 계속 내부에 추가하기 어려우므로, 차라리 함수를 생성하는 것이 낫다

In [124]:
# 더 세분화된 분류 5살 이하/12살 이하 / 18살 이하 / 25살 이하 / 35살 이하 / 60세 이하 / 그 이상
# 나이에 따라 세분화된 분류를 수행하는 함수 생성
def get_category(age):
  cat =' '
	
  if age <= 5 : 
    cat = 'Baby'
	elif age <= 12:
    cat = 'Child'
	elif age <= 18: 
    cat = 'Teenager'
	elif age <= 25:
    cat = 'Student'
	elif age <= 35: 
    cat = 'Young Adult'
	elif age <= 60: 
    cat = 'Adult'
	else: 
    cat = 'Elderly'

	return cat

TabError: ignored

In [113]:
# lambda 식에 위에서 생성한 get_category() 함수를 반환 값으로 지정
# get_category(x)는 입력값으로 ‘Age’ 칼럼 값을 받아서 해당하는 cat 반환
titanic_df['Age_cat'] = titanic_df['Age_cat'].apply(lambda x : get_category(x))
titanic_df[['Age','Age_cat']].head()

TypeError: ignored